<div class="button">
  <%= link_to 'Next quote', random_quotes_path %>
</div>

<div class="text">
  <%= @quote.text %>
</div>

<div class="author">
    <%= image_tag(@quote.author.link, width: "100", alt: @quote.author.name) unless @quote.author.link.empty? %>
    <%= @quote.author.name %>
    <br><small><%=@quote.author.note %></small>
</div>
